/* @media screen and (max-width: 400px) {
    header{
        overflow: hidden;
        flex-shrink: 1;
    }
    body{
        display: flex
    };
    .categories{
        width: 100%;
    }
    .slider{
        width: 100%;
    }
} */